*.exe
*.csproj
*.csproj.user
*.suo
*.sln
ICPC/*
Project1/*
bin/*
obj/*
History.md
gop.zip
p.zip
Main.exe.mdb
TestEnvironment/opponent*.txt
TestEnvironment/input.txt
TestEnvironment/output.txt
TestEnvironment/turns.txt
